<div class="body">
  <div class="container">
    <div class="row">
        <div class="Blue" (click)='module1()'>
            <div class="circle">
            <div class='img1'></div>
            </div>
            <h3>philosophy & purpose <br> of spiritual curriculum</h3>
        </div>
        <div class="Green col-2">
            <div class="circle">
            <div class='img2'></div>
            </div>
            <h3>Introduction to <br> Darshan Academy</h3>
        </div>
        <!-- <div class="Orange col-3">
            <div class="circle">
            <div class='img3'></div>
            </div>
            <h3>Introduction to Sant <br> Rajinder Singh Ji Maharaj</h3>
        </div>
        <div class="Purpule col-4">
            <div class="circle">
            <div class='img4'></div>
            </div>
            <h3>Introduction to  <br> Meditation</h3>
        </div> -->
    </div>
  </div>
</div>
