<div class="head">
  <div class="logo">
    <!-- <img ng-src="../../assets/img/logo-TrainingOnline-DA-400x200.png" alt="logo"> -->
  </div>
  <div class="menu">
    <ul>
      <li><a routerLink='./home'>Home</a></li>
      <li><a routerLink='./About-Us'>About Us</a></li>
      <li><a routerLink='./Our-Vision'>Our Vision</a></li>
      <li><a routerLink='./The-Course'>The Course</a></li>
      <li><a routerLink='./Resources'>Resouces</a></li>
      <li><a routerLink='./Contact'>Contact</a></li>
    </ul>
  </div>
  <div class="cont">
    <h2>+91 11 27414545</h2>
  </div> 
</div>
<router-outlet></router-outlet>
<footer>
  <div class="top"></div>
  <div class="footCT">
      <div class="rights">
          <div class="log2"></div>
          <h4>All rights reseved Darshan Academy 2018</h4>
      </div>
      <div class="menuf">
          <h5><a routerLink='./The-Course'>The Course</a></h5>
          <h5><a routerLink='./Resources'>Resources</a></h5>
      </div>
      <div class="about">
          <h4><a routerLink='./About-Us'>About Us</a></h4>
      </div>
      <div class="contact">
          <h4><a routerLink='./Contact'>Contact Us</a></h4>
          <h5>+91 11 27414545</h5>
          <h5>info@darshanacademy.org</h5>
      </div>
  </div>
</footer>